.App {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

textarea {
  resize: none;
  flex: 2 1 auto;
}

#buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2px 0;
}

input#key {
  flex: 1 1 auto;
}

button {
  margin: 0 4px;
  color: #f15926
}

#errors {
  color: rgb(100, 0, 0);
}

footer {
  text-align: right;
  color: #a48463;
  margin-top: 4px;
  padding: 4px;
}